{
    "jsc": {
      "parser": {
        "syntax": "ecmascript",
        "tsx": false,
        "jsx":true
      },
      "transform": {
        "legacyDecorator": true,
        "react": {
          "runtime": "automatic",
          "pragma": "React.createElement",
          "pragmaFrag": "React.Fragment"
        }
      }
    }
  }
  